@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic)

body
  margin: 10px
  font-family: 'Source Sans Pro', 'Roboto', Arial, sans-serif
  font-size: 12px
